/* open-sans-regular - latin */
/* open-sans-condensed-300 - latin */
/* open-sans-condensed-300 - cyrillic */
/* open-sans-condensed-300 - cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-condensed-v14-cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Condensed Light"), local("OpenSansCondensed-Light"), url("../fonts/open-sans-condensed-v14-cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-condensed-v14-cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-condensed-v14-cyrillic-300.woff") format("woff"), url("../fonts/open-sans-condensed-v14-cyrillic-300.ttf") format("truetype"), url("../fonts/open-sans-condensed-v14-cyrillic-300.svg#OpenSansCondensed") format("svg");
  /* Legacy iOS */
}

/* oswald-regular - cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/oswald-v35-cyrillic-regular.woff2") format("woff2"), url("../fonts/oswald-v35-cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
  line-height: 27px;
  letter-spacing: 0.05em;
}

html {
  font-family: "Open Sans Condensed";
}

*, *::before, *::after {
  box-sizing: inherit;
}

* a {
  text-decoration: none;
}

* a:hover, * a:active, * a:focus * a:visited {
  text-decoration: none;
  color: black;
}

.header {
  margin: 0 auto;
  position: relative;
  max-width: 1920px;
  height: 800px;
  background: url("../img/header-pic.png") no-repeat center;
  overflow: hidden;
  background-size: cover;
  margin-bottom: 150px;
}

.header__menu {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 91, 193, 0.6);
}

.header__menu .header__menu-logo, .header__menu .header__menu-nav, .header__menu .header__menu-empty {
  flex-basis: 33.333%;
}

.header__block-color {
  position: absolute;
  background-color: rgba(0, 91, 193, 0.6);
  width: 445px;
  height: 100%;
  left: 18%;
}

.menu__logo-pic {
  padding: 15px 0px 15px 40px;
}

.header__menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__nav-items {
  display: flex;
  justify-content: center;
}

.menu__nav-items .menu__nav-item {
  margin-right: 27px;
  list-style: none;
}

.menu__nav-items .menu__nav-item .menu__nav-link {
  text-decoration: none;
  color: #fff;
  transition: color .2s;
}

.menu__nav-items .menu__nav-item .menu__nav-link:hover, .menu__nav-items .menu__nav-item .menu__nav-link:active, .menu__nav-items .menu__nav-item .menu__nav-link:focus {
  color: #b2a4a4;
}

.header__info-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
}

.header__info-wrap .header__info-cont {
  max-width: 600px;
  z-index: 1;
  align-self: center;
}

.header__info-title {
  font-family: "Oswald";
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 40px;
}

.header__info-desc {
  font-family: "Open Sans Condensed";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
}

.header__info-more {
  outline: none;
  cursor: pointer;
  background: transparent;
  border: 2px solid #FFFFFF;
  color: #fff;
  padding: 15px 40px;
  transition: all .2s;
}

.header__info-more:hover, .header__info-more:active, .header__info-more:focus {
  color: #b2a4a4;
  border: 2px solid #b2a4a4;
}

.main__info-wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.main__info-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 150px;
}

.info__projects-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.info__projects-buttons {
  cursor: pointer;
}

.left {
  float: left;
  position: relative;
  overflow: hidden;
  border: solid 2px #005BC1;
  padding: 20px;
  border-right: solid 1px #005BC1;
}

.left::before {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: #005BC1;
  position: absolute;
  top: 30%;
  left: 25%;
  transform: rotate(-45deg);
}

.left::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: #005BC1;
  position: absolute;
  top: 60%;
  left: 25%;
  transform: rotate(45deg);
}

.left:hover, .left:active, .left:focus {
  color: #8cb8e9;
}

.right {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: solid 2px #005BC1;
  padding: 20px;
  border-left: solid 1px #005BC1;
}

.right::before {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: #005BC1;
  position: absolute;
  top: 30%;
  left: 25%;
  transform: rotate(45deg);
}

.right::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: #005BC1;
  position: absolute;
  top: 60%;
  left: 25%;
  transform: rotate(-45deg);
}

.info__projects-title {
  position: relative;
  padding-left: 140px;
  font-family: "Oswald";
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}

.double-line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.info__projects-pic {
  display: flex;
  justify-content: space-between;
}

.info__project-pic1, .info__project-pic2 {
  max-width: 540px;
  max-height: 400px;
  position: relative;
}

.info__project-pic1 img, .info__project-pic2 img {
  width: 100%;
}

.info__project-pic1 figcaption, .info__project-pic2 figcaption {
  position: absolute;
  background: #fff;
  bottom: 35px;
  right: 35px;
  padding: 20px 25px;
}

.info__project-pic1 figcaption h3, .info__project-pic2 figcaption h3 {
  margin-bottom: 15px;
  font-family: "Oswald";
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.info__project-pic1 figcaption p, .info__project-pic2 figcaption p {
  width: 200px;
}

.catalog {
  margin-bottom: 165px;
}

.catalog__title {
  position: relative;
  padding-left: 140px;
  font-family: "Oswald";
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
  margin-bottom: 70px;
}

.catalog__choice {
  width: 100%;
  display: flex;
  justify-content: center;
}

.choice {
  font-family: "Oswald";
  border-bottom: 2px solid transparent;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  margin-bottom: 55px;
  cursor: pointer;
}

.choice:hover, .choice:focus, .choice:active {
  color: #005BC1;
  border-bottom: 2px solid #005BC1;
}

.choice:last-child {
  margin-left: 43px;
}

.catalog__pics {
  display: flex;
  justify-content: space-between;
}

.catalog__pics > figure {
  position: relative;
  max-width: 350px;
  max-height: 300px;
}

.catalog__pics > figure .pic {
  width: 100%;
}

.catalog__pics > figure .desc {
  display: flex;
  align-items: center;
  padding-left: 21px;
  position: absolute;
  background: #005BC1;
  color: white;
  font-family: "Oswald";
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 265px;
  height: 86px;
  bottom: 15px;
  right: 0;
}

.rent {
  margin-bottom: 108px;
}

.rent__header-title {
  position: relative;
  padding-left: 140px;
  font-family: "Oswald";
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
  margin-bottom: 40px;
}

.rent__cont {
  display: flex;
}

.rent__desc {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}

.desc {
  display: block;
  max-width: 350px;
  max-height: 175px;
  overflow: hidden;
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #343434;
}

.rent__offer {
  display: flex;
  flex-direction: column;
  border: 3px solid #005BC1;
  width: 55%;
  padding: 40px 30px 30px 30px;
}

.rent__offer .rent__offer-head, .rent__offer > .info__projects-buttons {
  display: inline-block;
}

.rent__offer .rent__head-cont {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rent__offer-head {
  font-family: "Oswald";
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}

.rent__offer-ittem {
  display: flex;
}

.offer__ittem-pic {
  max-width: 255px;
  max-height: 250px;
  margin-right: 30px;
}

.offer__ittem-pic .offer__pic {
  width: 100%;
}

.offer__ittem-desc {
  list-style: inside;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}

.offer__desc {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
  margin-top: 10px;
}

.offer__desc:first-child {
  margin-top: 30px;
}

.news__header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.news__title {
  position: relative;
  padding-left: 140px;
  font-family: "Oswald";
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}

.news__button {
  font-family: "Open Sans Condensed";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #005BC1;
  padding: 15px 34px;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.news__button:hover, .news__button:active, .news__button:focus {
  outline: none;
  background: #4e7fb6;
}

.container__news {
  display: flex;
  justify-content: space-between;
  height: 255px;
  margin-bottom: 120px;
}

.news__ittem {
  display: flex;
  height: 100%;
}

.news__ittem:first-child {
  justify-content: space-around;
  flex-basis: 55%;
  margin-left: 0;
}

.news__ittem:nth-child(2), .news__ittem:last-child {
  flex-direction: column;
  align-self: space-between;
  margin-left: 60px;
}

.news__ittem:nth-child(2) .news__ittem-desc, .news__ittem:last-child .news__ittem-desc {
  margin: 20px 0px;
}

.news__ittem-pic1 {
  flex-basis: 60%;
  margin-right: 30px;
}

.news__ittem-pic1 img {
  width: 100%;
}

.news__ittem-pic2, .news__ittem-pic3 {
  max-width: 128px;
  max-height: 115px;
  padding-right: 97px;
  position: relative;
}

.news__ittem-pic2 img, .news__ittem-pic3 img {
  width: 100%;
}

.news__ittem-pic2::after, .news__ittem-pic3::after {
  content: "27.01.2019";
  position: absolute;
  right: 0;
  bottom: 0;
}

.news__ittem-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 45%;
}

.ittem__desc-title {
  display: inline-block;
}

.cont__title-date {
  display: flex;
  justify-content: space-between;
}

.news__more {
  color: black;
  font-family: "Open Sans Condensed";
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  font-weight: 700;
}

.footer {
  width: 100%;
  background: #005BC1;
}

.footer__wrap {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  display: flex;
  padding: 25px 0px;
  border-bottom: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts .phone, .footer__contacts .adress, .footer__contacts .email a {
  color: #fff;
}

.footer__contacts .phone {
  font-family: "Oswald";
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__contacts .adress, .footer__contacts .email {
  font-family: "Open Sans Condensed";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.foot__about-cont {
  width: 100%;
  border-bottom: 1px solid #fff;
}

.footer__about {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer__about-ittems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__ittem {
  list-style: none;
  line-height: 2rem;
}

.footer__ittem a {
  color: #fff;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.footer__info .company, .footer__info .link-to-dev {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.footer__info, .footer__info a {
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */